<div class="product-item box">
  <div class="product-item__wrapper" ng-if="item.face">
    <div class="product-item__face" ng-style="{'font-size': item.size + 'px'}">{{ ::item.face }}</div>
    <div class="product-item__meta">
      <div class="product-item__price">{{ ::item.price | money }}</div>
      <div class="product-item__timestamp">{{ ::item.date | timestamp }}</div>
    </div>
  </div>
  <div class="ad" ng-if="!item.face" ng-bind-html="::item.adBlock"></div>
</div>
