<div class="app-status" ng-show="warehouseContent.isLoading || warehouseContent.hasReachedEnd">
  <p ng-if="warehouseContent.isLoading">
    <img src="/assets/images/loader.svg" class="status-loader" alt="loading" /> loading...
  </p>
  <p ng-if="warehouseContent.hasReachedEnd">~ end of catalogue ~</p>
</div>
