<section class="products">

  <warehouse-content-header></warehouse-content-header>

  <div class="product-grid" when-scroll-ends="warehouseContent.loadProducts()">
    <warehouse-product
        ng-repeat="item in warehouseContent.productList track by item.id + $index" item="item">
    </warehouse-product>
  </div>

  <warehouse-content-status></warehouse-content-status>

</section>
