<div class="sort-selector">
  Sort by
  <select ng-model="warehouseContent.sortKey"
      ng-change="warehouseContent.onChangeSortOrder()"
      ng-disabled="!warehouseContent.productList.length">
    <option value="id">Id</option>
    <option value="size">Size</option>
    <option value="price">Price</option>
  </select>
</div>
